<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label stacked>Nome*</ion-label>
        <ion-input type="text" value="{{usuario?.nome}}" [(ngModel)] = "usuario.nome" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Data de nascimento*</ion-label>
        <ion-input type="text" value="{{usuario?.dataNascimento}}" [(ngModel)] = "usuario.dataNascimento"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>CPF*</ion-label>
        <ion-input  type="text" value="{{usuario?.cpf}}" [(ngModel)] = "usuario.cpf"></ion-input>
    </ion-item>


    <ion-list radio-group [(ngModel)] = "usuario.sexo">
        <ion-list-header>
          Sexo
        </ion-list-header>
        <ion-item>
          <ion-label>M</ion-label>
          <ion-radio value="M"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>F</ion-label>
          <ion-radio value="F"></ion-radio>
        </ion-item>
      </ion-list>


    
    <ion-item>
        <ion-label stacked>Email*</ion-label>
        <ion-input type="text" value="{{usuario?.email}}" [(ngModel)] = "usuario.email"></ion-input>
      </ion-item>
    <ion-item>
        <ion-label stacked>Senha*</ion-label>
        <ion-input type="password" [(ngModel)] = "novaSenha"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label stacked>Tipos de campanhas favoritas*</ion-label>
        <ion-select [(ngModel)] = "tipoCampanhaAdd">
          <ion-option *ngFor="let itemAdd of tpCampanhas" [value]="itemAdd">{{itemAdd.descricao}}</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button block type="button" (click)='adicionarTpLocalidade()' >Adicionar Preferencia</button>
    <ion-item>
        <ion-list>
          <ion-item  *ngFor="let item of tpCampanhaListaDesc">
            <label> {{item}} </label>
            <button danger ion-button color="red" (click)="apagar(item)" item-end>Remove</button>
          </ion-item>
        </ion-list>
    </ion-item>

      <button ion-button block type="button"  (click)='salvarUsuario()' >Salvar</button>


      <button ion-button block type="button" (click)='excluiUsuario()' hidden>Excluir</button>

</ion-content>
